
@font-face {
    font-family: 'proxima-nova';
    src: url('../webfonts/proximanova-webfont.eot');
    src: url('../webfonts/proximanova-webfont.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/proximanova-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../webfonts/proximanova-sbold-webfont.eot');
    src: url('../webfonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/proximanova-sbold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'sego-ui';
    src: url('../webfonts/SegoeUI.eot');
    src: url('../webfonts/SegoUI.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/SegoUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

