/**********
Site Theme
***********/
.link,
.link:hover,
.link:focus,
.link.active {
	color: inherit;
}
.bg-theme,
.btn-theme {
	background-color: #31661E;
}
.text-theme,
.btn-link.btn-link-theme,
.nav-link.nav-link-theme
{
	color: #31661E;
}

.text-theme-dark,
.btn-link.btn-link-theme.active,
.btn-link.btn-link-theme:hover,
.btn-link.btn-link-theme:focus,
.nav-link.nav-link-theme.active,
.nav-link.nav-link-theme:hover,
.nav-link.nav-link-theme:focus
{
	color: #214812;
}

.bg-theme-dark,
.btn-theme.active,
.btn-theme:hover,
.btn-theme:focus {
	background-color: #214812;
}

.text-theme-alt {
	color: #541B00;
}
.bg-theme-alt {
	background-color: #541B00;
}

.bg-theme-transparent {
	background-color: rgba(84, 27, 0, 0.68);
}


.bg-white, {
	background-color: #FFFFFF;
}
.text-white,
.btn-theme,
.btn-theme.active,
.btn-theme:hover,
.btn-theme:focus,
.link-white,
.link-white.active,
.link-white:focus,
.link-white:hover
{
	color: #FFFFFF;
}

.text-black {
	background-color: #000000;
}
.bg-black {
	background-color: #000000;
}

.btn-rounded {
	border-radius: 50px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn-square {
	border-radius: 0;
	padding-left: 2rem;
	padding-right: 2rem;
}

.card-deck.clean .card,
.card-deck.clean .card-footer {
	border: none;
}

.card-deck.clean .card-footer {
	background-color: inherit;
}

/**********
Site Typography
***********/
.heading-alt {
	font-family: 'proxima-nova';
	font-weight: bold;
	color: #000;
}
.subheading {
	font-weight: normal;
	color: #000;
}

/**************
Site Style
**************/

body {
	font-family: 'segoe-ui';
	color: #707070;
}
header .nav-link:hover {
	text-decoration: underline;
}
.topbar .navbar-nav {
	position: relative;
	z-index: 10;
}
.main-menu {
	position: relative;
	z-index: 8;
	margin-top: -45px;
}
.nav-link {
	text-transform: uppercase;
	color: #FFFFFF;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
	color: #FFFFFF;
}

.first-block, 
.page-title-block {
	margin-top: -108px;
}
.page-title-block {
	position: relative;
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.page-title-block .bg,
.video-banner .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.page-title-block section {
	position: relative;
	z-index: 2;
}

.page-title-block .text-wrap {
	min-height: 200px;
}
.page-title-block h1 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 3.2rem;
}

header .navbar-toggler {
	color: #FFFFFF;
}

.video-banner .bg {
	z-index: 2;
}
.video-banner {
	height: 90vh;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.video-banner video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}


@media(max-width: 991px){
	.main-menu .navbar-collapse {
		position: absolute;
		top: 95px;
		right: 10px;
		background: rgb(84, 27, 0);
		padding: 15px;
	}
}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .75rem;
		padding-left: .75rem;
	}
	.main-menu .navbar {
		padding-right: 0;
	}
}

.owl-dots {
	text-align: center;
	padding-top: 1rem;
}
.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #869791;
}

footer h4 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

footer .text-light {
	color: #8895A9 !important;
}

footer a,
footer a:hover,
footer a:focus {
	color: #B8C9D6;
}

.footer-bottom {
	border-top: solid 2px #707070;
}

footer .list-unstyled li {
	margin-bottom: 15px;
}

footer .list-inline {
	margin: 0;
}
footer .list-inline li {
	display: inline-block;
}
footer .list-inline li a {
	display: inline-block;
	padding: 5px;
}

@media(min-width: 992px){
	.card-deck-lg {
		margin-left: -45px;
		margin-right: -45px;
		margin-bottom: 45px;
	}
	.card-deck-lg + .card-deck-lg {
		margin-top: 90px;
	}
	.card-deck-lg > .card {
		margin-left: 45px;
		margin-right: 45px;
	}
}


.live-here-breadcrumbs {
	font-size: 1.075rem;
	text-transform: uppercase;
	text-align: center;
}
.live-here-breadcrumbs .breadcrumbs > div {
	display: inline-block;
	margin: 0 15px;

}
.live-here-breadcrumbs .breadcrumbs > div:not(:last-child) {
	border-right: solid 1px #FFFFFF;
	padding-right: 15px;
	margin-right: 0;
}
.live-here-breadcrumbs a {
	opacity: 0.8;
}
.live-here-breadcrumbs a.active,
.live-here-breadcrumbs a:hover {
	text-decoration: underline;
	opacity: 1;
}

.pagination .page-link {
	margin: 0 5px;
	min-width: 40px;
	text-align: center;
}
.pagination .number .page-link {
	border-radius: 50% !important;
	border-color: #768791;
	color: #768791;
}
.pagination .number.active .page-link {
	color: #FFF;
	background-color: #768791;
}
.pagination .arrow .page-link {
	border: none;
	color: #768791;
}
.pagination {
	justify-content: center;
	align-content: center;
	margin-bottom: 0;
	position: relative;
	padding: 0 80px;
}

.pagination .arrow:last-child {
	position: absolute;
	right: 0;
}
.pagination .arrow:first-child {
	position: absolute;
	left: 0;
}

#property-slider img {
	min-width: 100%;
}

.bottom-bar {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.bottom-bar:after {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 55px;
	height: 3px;
}
.bottom-bar-blue:after {
	background: #09B9E5;
}

.big-text {
	font-size: 1.3rem;
}

.property-buttons .btn {
	width: 17%;
	margin-right: 2%;
	display: inline-block;
	margin-bottom: 15px;
}
.post-comments {
	font-size: 0.9rem;
}
.post-comments .far:not(:first-child) {
	padding-left: 15px;
}

.contact-info-boxes > div {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.contact-info-boxes > div:not(:last-child){
	border-right: solid 1px #bcbcbc;
}