/**********
Site Theme
***********/
.link,
.link:hover,
.link:focus,
.link.active {
	color: inherit;
}
.bg-theme,
.btn-theme {
	background-color: #31661E;
}
.text-theme,
.btn-link.btn-link-theme,
.nav-link.nav-link-theme
{
	color: #31661E;
}

.text-theme-dark,
.btn-link.btn-link-theme.active,
.btn-link.btn-link-theme:hover,
.btn-link.btn-link-theme:focus,
.nav-link.nav-link-theme.active,
.nav-link.nav-link-theme:hover,
.nav-link.nav-link-theme:focus
{
	color: #214812;
}

.bg-theme-dark,
.btn-theme.active,
.btn-theme:hover,
.btn-theme:focus {
	background-color: #214812;
}

.text-theme-alt {
	color: #541B00;
}
.bg-theme-alt {
	background-color: #541B00;
}

.bg-theme-transparent {
	background-color: rgba(84, 27, 0, 0.68);
}


.bg-white, {
	background-color: #FFFFFF;
}
.text-white,
.btn-theme,
.btn-theme.active,
.btn-theme:hover,
.btn-theme:focus,
.link-white,
.link-white.active,
.link-white:focus,
.link-white:hover
{
	color: #FFFFFF;
}

.text-black {
	background-color: #000000;
}
.bg-black {
	background-color: #000000;
}

.btn-rounded {
	border-radius: 50px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn-square {
	border-radius: 0;
	padding-left: 2rem;
	padding-right: 2rem;
}

.card-deck.clean .card,
.card-deck.clean .card-footer {
	border: none;
}

.card-deck.clean .card-footer {
	background-color: inherit;
}

/**********
Site Typography
***********/
.heading-alt {
	font-family: 'proxima-nova';
	font-weight: bold;
	color: #000;
}
.subheading {
	font-weight: normal;
	color: #000;
}
.ns-heading {
	font-family: 'proxima-nova';
	color: #222;
}

/**************
Site Style
**************/

body {
	font-family: 'segoe-ui';
	color: #707070;
}
header .nav-link:hover {
	text-decoration: underline;
}


.main-menu {
	position: relative;
	z-index: 8;
}
.main-menu .dropdown-menu {
	background: #541B00;
	color: #FFF;
	border: none;
}
.main-menu .dropdown-item,
.main-menu .dropdown-item:focus, 
.main-menu .dropdown-item:hover {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}
.main-menu .pdropdown-item:focus, 
.main-menu .dropdown-item:hover {
	text-decoration: underline;
}

.nav-link {
	text-transform: uppercase;
	color: #FFFFFF;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
	color: #FFFFFF;
}

.frontpage .first-block {
    margin-top: 0;
}

.navbar-brand {
    height: 50px;
}
.page-title-block {
	position: relative;
	
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.page-title-block .bg,
.video-banner .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.page-title-block section {
	position: relative;
	z-index: 2;
}

.page-title-block .text-wrap {
	min-height: 200px;
}
.page-title-block h1 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 3.2rem;
}

header .navbar-toggler {
	color: #FFFFFF;
}

.video-banner .bg {
	z-index: 2;
}
.video-banner {
	height: 80vh;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.video-banner video {
	position: relative;
	top: 0;
	left: 0;
	min-width: 100%;
}

@media(max-width: 1191px){
	.main-menu {
		background: #541B00;
	}
	.main-menu .container {
		max-width: unset;
	}
	.main-menu .navbar-brand {
		height: 50px;
	}
}
@media(max-width: 991px){
	.video-banner {
		height: auto;
	}
	.video-banner video {
		position: relative;
		width: 100%;
		display: block;
	}
	
	.main-menu .navbar-brand img {
		height: 90px;
	}
}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .75rem;
		padding-left: .75rem;
	}
	.main-menu .navbar {
		padding-right: 0;
	}
}
@media(min-width: 1192px){
    .navbar-brand {
        transform: translateY(-10px);
    }
}

.owl-dots {
	text-align: center;
	padding-top: 1rem;
}
.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #869791;
}

footer h4 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

footer .text-light {
	color: #8895A9 !important;
}

footer a,
footer a:hover,
footer a:focus {
	color: #B8C9D6;
}

.footer-bottom {
	border-top: solid 2px #707070;
}

footer .list-unstyled li {
	margin-bottom: 15px;
}

footer .list-inline {
	margin: 0;
}
footer .list-inline li {
	display: inline-block;
}
footer .list-inline li a {
	display: inline-block;
	padding: 5px;
}

@media(min-width: 992px){
	.card-deck-lg {
		margin-left: -45px;
		margin-right: -45px;
		margin-bottom: 45px;
	}
	.card-deck-lg + .card-deck-lg {
		margin-top: 90px;
	}
	.card-deck-lg > .card {
		margin-left: 45px;
		margin-right: 45px;
	}
}


.live-here-breadcrumbs {
	font-size: 1.075rem;
	text-transform: uppercase;
	text-align: center;
}
.live-here-breadcrumbs .breadcrumbs > div {
	display: inline-block;
	margin: 0 15px;

}
.live-here-breadcrumbs .breadcrumbs > div:not(:last-child) {
	border-right: solid 1px #FFFFFF;
	padding-right: 15px;
	margin-right: 0;
}
.live-here-breadcrumbs a {
	opacity: 0.8;
}
.live-here-breadcrumbs a.active,
.live-here-breadcrumbs a:hover {
	text-decoration: underline;
	opacity: 1;
}

.pagination .page-link {
	margin: 0 5px;
	min-width: 40px;
	text-align: center;
}
.pagination .number .page-link {
	border-radius: 50% !important;
	border-color: #768791;
	color: #768791;
}
.pagination .number.active .page-link {
	color: #FFF;
	background-color: #768791;
}
.pagination .arrow .page-link {
	border: none;
	color: #768791;
}
.pagination {
	justify-content: center;
	align-content: center;
	margin-bottom: 0;
	position: relative;
	padding: 0 80px;
}

.pagination .arrow:last-child {
	position: absolute;
	right: 0;
}
.pagination .arrow:first-child {
	position: absolute;
	left: 0;
}

#property-slider img {
	min-width: 100%;
}

.bottom-bar {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.bottom-bar:after {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 55px;
	height: 3px;
}
.bottom-bar-blue:after {
	background: #09B9E5;
}

.big-text {
	font-size: 1.3rem;
}

.property-buttons .btn {
	width: 17%;
	margin-right: 2%;
	display: inline-block;
	margin-bottom: 15px;
}
.post-comments {
	font-size: 0.9rem;
}
.post-comments .far:not(:first-child) {
	padding-left: 15px;
}

.contact-info-boxes > div {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.contact-info-boxes > div:not(:last-child){
	border-right: solid 1px #bcbcbc;
}



/*page custom homes*/

.mgrt-40{
    margin-top: 40px;
}

.custom-home-p{
    font-size: 28px;
    color: #707070;
}

.btn-arrow{
    width: 190px;
	max-width: 100%;
	height: 40px;
	position: relative;
	background: #c6c6c6;
    border-radius: 0;
    color: #565656;
    font-family: 'Arial';
    font-size: 13px;
    text-align: left;
    padding-top: 10px;
	transition: all linear 0.15s;
}
.btn-arrow:hover::before{
    border-left: 20px solid #31661E;
}
.btn-arrow:hover{
    color: #fff;
    background: #31661E;
}


.btn-arrow:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	transition: all linear 0.15s;
}
.btn-arrow:before {
	content: "";
	position: absolute;
	right: -21px;
	bottom: -1px;
	width: 0;
	height: 0;
	border-left: 20px solid #c6c6c6;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	transition: all linear 0.15s;
}



@media(max-width: 1200px){
    .property-buttons .btn {
		width: 18%;
		margin-right: 4%;
		display: inline-block;
		margin-bottom: 15px;
        font-size: 12px;
    }
    
}


@media(max-width: 991px){
    .main-menu .navbar-nav {
		padding-top: 25px;
	}
    .property-buttons .btn {
		width: 25%;
		margin-right: 7%;
		display: inline-block;
		margin-bottom: 15px;
        font-size: 12px;
    }
    .custom-home-p {
		font-size: 22px;
		color: #707070;
    }
    
    
}


@media(max-width: 767px){
    .m-mgrt-20{
    	margin-top: 20px;
    }
    .property-buttons .btn {
		width: 42%;
		margin-right: 7%;
		display: inline-block;
		margin-bottom: 15px;
        font-size: 12px;
    }
    .custom-home-p {
		font-size: 22px;
		color: #707070;
    }
    .page-heading {
    	font-size: 28px;
    }
}

@media(max-width: 416px){
    .property-buttons .btn{
        font-size: 12px;
        padding-left: 5px;
    }
}



/*from saikat*/


/*page custom homes*/

@font-face {
    font-family: roboto-reg;
    src: url("../webfonts/Roboto-Regular.ttf");
}

.page-heading {
    font-size: 44px;
    font-family: 'proxima-nova';
    color: #000;
    font-weight: bold;
}

.mgrt-40 {
    margin-top: 40px;
}

.mgrt-30 {
    margin-top: 30px;
}

.mgrt-20 {
    margin-top: 20px;
}

.mgrt-45 {
    margin-top: 45px;
}

.mgrt-50 {
    margin-top: 50px;
}

.mgrt-60 {
    margin-top: 60px;
}

.mgrt-70 {
    margin-top: 70px;
}

.mgrt-80 {
    margin-top: 80px;
}

.mgrt-100 {
    margin-top: 100px;
}

.mgrb-20 {
    margin-bottom: 20px;
}

.mgrb-40 {
    margin-bottom: 40px;
}

.custom-home-p {
    font-size: 28px;
    color: #707070;
}

.mgrr-10 {
    margin-right: 10px;
}

.bdr-green {
    background: #31661E;
    border-top: 7px solid rgba(0, 0, 0, .1);
    margin-top: 0;
    margin-bottom: 0;
}

.no-shadow {
    box-shadow: 0 0 0 #fff!important;
}

.rboto-20 {
    font-size: 22px;
}

.line-h-27 {
    line-height: 26px;
}

.btn-arrow {
    width: 190px;
    height: 40px;
    position: relative;
    background: #c6c6c6;
    border-radius: 0;
    color: #565656;
    font-family: 'Arial';
    font-size: 13px;
    text-align: left;
    padding-top: 10px;
    text-transform: uppercase;
}

.btn-arrow:hover::before {
    border-left: 20px solid #31661E;
    transition: all linear 0.15s;
}

.btn-arrow:hover {
    color: #fff;
    background: #31661E;
    text-decoration: none;
}

.btn-arrow:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.btn-arrow:before {
    content: "";
    position: absolute;
    right: -21px;
    bottom: -1px;
    width: 0;
    height: 0;
    border-left: 20px solid #c6c6c6;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.text-grey-f707 {
    color: #707070;
}

.text-red-f500 {
    color: #F50000;
}

.rbto-30 {
    font-size: 24px;
    font-family: roboto-reg;
}

.rbto-25 {
    font-size: 20px;
    font-family: roboto-reg;
}

.invest-arrow .btn-arrow {
    margin-top: 30px;
}

.btn-book {
    text-transform: uppercase;
    color: #fff;
    background: #31661E;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    font-family: roboto-reg;
    padding: 10px 40px;
    box-shadow: 1px 1px 2px #888;
}

.book-img {
    position: relative;
    box-shadow: 0px 1px 1px #888;
}

.mgrl-15 {
    margin-left: 15px;
}

@font-face {
    font-family: roboto-bold;
    src: url("../webfonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("../webfonts/OpenSans-Regular.ttf");
}

.news-head {
    font-family: roboto-reg;
    font-size: 92px;
    color: #000;
}

.sub-head {
    font-family: roboto-reg;
    font-size: 25px;
    color: #000;
}

.btn-green {
    background: #0A2E0C;
    color: #fff;
    padding: 10px 60px 10px 60px;
    font-size: 20px;
    font-family: roboto-reg;
}

.btn-green:hover {
    color: #0056b3;
}

.form-newsl .form-control {
    height: 51px;
}

.mob {
    display: none;
}

.desk {
    display: block;
}

.btn-position {
    right: 247px;
}

.left-arrow-slider {
    width: 25px;
}

.right-arrow-slider {
    width: 25px;
}

.parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.overlay {
    background: rgba(134, 134, 134, .7);
    padding: 60px 0px;
}

.white {
    color: #fff;
}

.center {
    text-align: center;
}

.villa-types {
    max-width: 795px;
    margin: 0 auto;
}

.cir-img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.fs-50 {
    font-size: 50px;
}

.cir-txt {
    font-family: roboto-reg;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.btn-book-green {
    text-transform: uppercase;
    color: #fff;
    background: #31661E;
    font-size: 16px;
    font-family: roboto-reg;
    padding: 10px 50px;
    box-shadow: 0px 10px 15px #525252;
    margin-top: 40px;
}

.home-wagon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mgrt-400 {
    margin-top: 350px;
}

.btn-green-2 {
    padding-left: 0;
    padding-right: 0;
    width: 213px;
}

.mgrb-80 {
    margin-bottom: 40px;
}

.btn-bdr {
    border: 1px solid #F8F8F8;
}

.psot-t {
    font-family: 'Arial';
    font-size: 20px;
    color: #212121;
}

.blog-content {
    font-family: open-sans;
    font-size: 14px;
    color: #666666;
}

.post-comments {
    color: #999999;
    font-family: open-sans;
}

.post-img {
    box-shadow: 1px 2px 10px #ddd;
}

.post-btn {
    border: 2px solid #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Arial';
    text-transform: uppercase;
    font-size: 12px;
    color: #3F51B5;
    padding-right: 20px;
    padding-left: 20px;
}

.post-hr {
    margin-top: -20px;
    margin-bottom: 25px;
    max-width: 95%;
    margin-left: 0;
}

.has-feedback {
    position: relative;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 16px;
}

.blog-content {
    max-width: 400px;
}

.form-control-feedback .btn {
    border-radius: 0;
    background: none;
    height: 25px;
    width: 25px;
}

.widgettitle {
    font-family: 'Arial';
    color: #222222;
    font-size: 20px;
    margin-top: 40px;
}

#search {
    width: 100%;
    border-radius: 30px;
    border: 2px solid #EEEEEE;
}

.custom-html-widget {
    font-family: open-sans;
    font-size: 14px;
    color: #999999;
}

.cat-item {
    list-style: none;
}

.cat-item a {
    font-family: open-sans;
    font-size: 14px;
    color: #999999;
}

.cat-item a:hover {
    color: #3F51B5;
    margin-left: 0px;
    padding-left: 0px;
}

#categories-2 ul {
    padding-left: 15px;
}

.wpp-list-with-thumbnails {
    padding-left: 0;
}

.wpp-list-with-thumbnails li {
    margin-top: 10px;
    margin-bottom: 20px;
}

#wpp-2 .widgettitle {
    margin-bottom: 20px;
}

#wpp-2 .wpp-post-title {
    font-family: open-sans;
    font-size: 14px;
    color: #666666;
}

#wpp-2 .wpp-date {
    font-family: open-sans;
    font-size: 13px;
    color: #999999;
    font-weight: normal;
}

#wpp-2 img {
    margin-right: 20px;
}

.post h1 {
    margin-top: 20px;
}

.post p {
    max-width: 650px;
}

.post-btn:hover {
    background: #31661E;
    color: #fff;
}

@media(max-width: 1200px) {
    .btn-position {
        right: 166px!important;
    }
    .property-buttons .btn {
        width: 18%;
        margin-right: 4%;
        display: inline-block;
        margin-bottom: 15px;
        font-size: 12px;
    }
}

@media(max-width: 991px) {
    .property-buttons .btn {
        width: 25%;
        margin-right: 7%;
        display: inline-block;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .custom-home-p {
        font-size: 22px;
        color: #707070;
    }
}

@media(max-width: 767px) {
    .slidetn {
        font-size: 43px!important;
        margin-left: 20px!important;
        margin-top: 40px!important;
    }
    .right-arrow-slider {
        margin-left: -34px!important;
    }
    .sub-slide {
        font-size: 52px!important;
    }
    #jssor_1 {
        top: -33px!important;
    }
    .sub-slide-w {
        width: 700px!important;
    }
    .mob {
        display: block;
    }
    .desk {
        display: none;
    }
    .m-mgrt-20 {
        margin-top: 20px;
    }
    .m-mgrt-30 {
        margin-top: 30px;
    }
    .m-mgrt-40 {
        margin-top: 40px;
    }
    .no-mgrl {
        margin-left: 0;
    }
    .property-buttons .btn {
        width: 42%;
        margin-right: 7%;
        display: inline-block;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .custom-home-p {
        font-size: 22px;
        color: #707070;
    }
    .page-heading {
        font-size: 28px;
    }
    .rbto-30 {
        font-size: 18px;
    }
    .invest-arrow .btn-arrow {
        margin-top: 0px;
    }
    .m-btn-book {
        text-transform: uppercase;
        color: #fff;
        background: #31661E;
        position: absolute;
        bottom: -8px;
        right: -8px;
        font-size: 15px;
        font-family: roboto-reg;
        padding: 4px 19px;
        box-shadow: 1px 1px 2px #888;
    }
    .m-btn-book-2 {
        margin-bottom: 60px;
        margin-top: 20px;
    }
    .mgrb-no {
        margin-bottom: 0;
    }
    .news-head {
        font-family: roboto-reg;
        font-size: 48px;
        color: #000;
    }
    .sub-head {
        font-family: roboto-reg;
        font-size: 18px;
        color: #000;
    }
    .form-newsl .form-control {
        height: 51px;
        margin-bottom: 20px;
    }
    .btn-green-2 {
        padding-left: 0;
        padding-right: 0;
        width: 160px;
        margin-top: 15px;
    }
    .mgrt-400 {
        margin-top: 135px;
    }
    .mgrb-80 {
        margin-bottom: 0px;
    }
    .m-pd-b-10 {
        padding-bottom: 10px;
    }
    .overflow-hide {
        overflow-x: hidden;
    }
    .head-slid {
        width: 750px!important;
        font-size: 72px!important;
    }
}

@media(max-width: 416px) {
    .property-buttons .btn {
        font-size: 12px;
        padding-left: 5px;
    }
}